<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="sidebar-menu">
        <li class="header">NAVIGATION</li>
        <li class="treeview">
            <a href="{{ path('admin_home') }}">
                <i class=""></i> <span>Articles</span>
            </a>
        </li>
        <li class="treeview">
            <a href="{{ path('admin_add_article') }}">
                <i class=""></i> <span>Ajouter Article</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class=""></i>
                <span>Catégories</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                {% for categorie in categories %}
                    <li><a href="{{ path('admin_categorie_article',{'slug': categorie.slug }) }}"><i class=""></i>{{ categorie.nom }}</a></li>
                {% endfor %}
                <li><a href="{{ path('admin_categorie_add') }}"><li>Ajouter Catégorie</li></a> </li>
            </ul>

        </li>
    </ul>
</div>