{% extends 'fo/base.html.twig' %}
{% block body %}
<div class="single-page">

    <div class="col-md-6 content-left single-post">
        <div class="blog-posts">
            <h1> {{ article.titre }} </h1>
            <h2>{{ article.sousTitre }}</h2>
            <div class="last-article">
                <p>{{ article.details|raw }}</p>
                <ul class="categories">
                    {% for tag in article.tags %}
                    <li><a href="#">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <div class="row related-posts">
                    <h4>Photos</h4>
                    {% for photo in article.photoArticles %}
                    <div class="col-xs-6 col-md-3 related-grids">
                        <a href="#" class="thumbnail">
                            <img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.alt }}"/>
                        </a>
                        <h5>{{ photo.alt }}</a></h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 side-bar">
        <div class="first_half">
            <div class="categories">
                <header>
                    <h3 class="side-title-head">Categories</h3>
                </header>
                <ul>
                    {% for categorie in categories %}
                        <li><a href="#">{{ categorie.nom }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

</div>
{% endblock %}