{% extends 'fo/base.html.twig' %}
{% block body %}
    <div class="articles sports">
        <header>
            <h1 class="title-head">{{ categorie.nom }}</h1>
        </header>
        {% for new in news %}
            <div class="article">
                <div class="article-left">
                    {% if new.photoCouverture != null %}
                        <img src="{{  vich_uploader_asset(new.photoCouverture, 'imageFile') }}">
                    {% endif %}
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <p>{{ new.datePublication|localizeddate("medium","short") }}</p>
                        <a class="title" href="{{ path("article",{'slug':new.slug}) }}"> {{ new.titre }}</a>
                    </div>
                    <div class="article-text">
                        <p>{{ new.details|trword(50)|raw }}</p>
                        <a href="{{ path("article",{'slug':new.slug}) }}">
                            <div class="bg-more">

                            </div>
                       </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}