{% extends 'fo/base.html.twig' %}
{% block body %}
    <!-- content-section-starts-here -->
    <div class="main-body">
        <h1>Mon Journal</h1>
        <div class="wrap">
            <div class="col-md-12">
                <div class="sports-top">
                    {% set conditionTest = true %}
                    {% for key,content in contents %}
                        {% if(conditionTest)  %}
                        {% set conditionTest = false %}
                        <div class="s-grid-left">
                        {%  else  %}
                            {% set conditionTest = true %}
                            <div class="s-grid-right">
                                {% endif %}
                            <div class="cricket">
                                <header>
                                    <h3 class="title-head">{{ key }}</h3>
                                </header>
                                {% for article in content %}
                                    <div class="s-grid-small">
                                        <div class="sc-image">
                                            {% if article.photoCouverture != null %}
                                                <img src="{{ vich_uploader_asset(article.photoCouverture, 'imageFile') }}" alt="{{ article.photoCouverture.alt }}" />
                                            {% endif %}
                                        </div>
                                        <div class="sc-text">
                                            <a class="power" href="{{ path("article",{"slug":article.slug}) }}}">{{ article.titre }}</a>
                                            <p class="date">{{ article.datePublication|localizeddate('medium','short') }}</p>
                                            <a href="{{ path("article",{'slug':article.slug}) }}">
                                                <div class="bg-more">

                                                </div>
                                            </a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                     {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}