.bg-logo {
    width: 300px; height: 100px;
    background: url('../images/css_sprites.png') -10px -10px no-repeat;
}

.header-logo{
    margin-left: 40%;
}

.bg-more {
    width: 20px; height: 16px;
    background: url('../images/css_sprites.png') -10px -130px;
}