<div class="marquee">
    {% for new in news %}
    <div class="marquee1"><a class="breaking" href="{{ path("article",{"slug":new.slug}) }}">>>{{ new.titre }}</a></div>
    {% endfor %}
    <div class="clearfix"></div>
</div>