<div class="footer">
    <div class="footer-top">
        <div class="wrap">
            <div class="col-md-5 col-xs-8 col-sm-6 footer-grid">
                <h4 class="footer-head">About Us</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
            </div>
            <div class="col-md-4 col-xs-8 col-sm-4 footer-grid">
                <h4 class="footer-head">Categories</h4>
                <ul class="cat">
                    {% for categorie in categories %}
                        <li><a href="{{ path("articles",{"slug":categorie.slug}) }}">{{ categorie.nom }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 footer-grid">
                <h4 class="footer-head">Contactez nous</h4>
                <span class="hq">RALISON MENDRIKA ETU 580</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copyrights col-md-6">
                <p> © 2015 Express News. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>