<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="{{ path("index") }}">Accueil</a></li>
        {% for categorie in categories %}
            <li><a href="{{ path("articles",{'slug':categorie.slug}) }}">{{ categorie.nom }}</a></li>
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div>