{% extends 'bo/base.html.twig' %}
 {% block additionnalInclude %}
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
 {% endblock %}
{% block body %}
    <div class="main-page">
        <h2 class="title1">ARTICLES</h2>
        <div class="bs-example widget-shadow" data-example-id="hoverable-table">
            <div class="row">
                <div class=""></div>
                <div class="col-md-offset-2 col-md-8">
                    {{ form(articleForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
