{% extends 'bo/base.html.twig' %}
{% block body %}
    <div class="main-page">
        <h2 class="title1">AJOUT CATEGORIE</h2>
        <div class="bs-example widget-shadow" data-example-id="hoverable-table">
            <div class="row">
                <div class=""></div>
                <div class="col-md-offset-2 col-md-8">
                    {{ form(categorieForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}