{% extends 'bo/base.html.twig' %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="main-page">
        <h2 class="title1">ARTICLES</h2>
        <div class="bs-example widget-shadow" data-example-id="hoverable-table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(articlePagination, 'Titre', 'a.titre') }} </th>
                        <th>{{ knp_pagination_sortable(articlePagination, 'DatePublication', 'a.datePublication') }} </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articlePagination %}
                        <tr>
                            <td><a href="{{ path('admin_get_article',{'slug':article.slug}) }}">{{ article.titre }}</a> </td>
                            <td>{{ article.datePublication|localizeddate('short','medium') }}</td>
                            <td><a href="{{ path('admin_delete_article',{'slug':article.slug}) }}">Supprimer</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(articlePagination) }}
            </div>
        </div>
    </div>
{% endblock %}