{% extends 'bo/base.html.twig' %}
{% block body %}
    {{ encore_entry_link_tags('slide') }}     {{ encore_entry_script_tags('slide') }}
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                items : 3,
                lazyLoad : true,
                autoPlay : true,
                pagination : true,
                nav:true,
            });
        });
    </script>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="main-page">
        <h2 class="title1">{{ article.titre }}</h2>
        <div class="bs-example widget-shadow" data-example-id="hoverable-table">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="activity-desc1"><h6>Date publication :  {{ article.datePublication|localizeddate('short','medium') }}</h6></div>
                    <div class="activity-desc1"> <h6>Date dernière modification : {{ article.datePublication|localizeddate('short','medium') }}</h6></div>
                    {{ form(articleForm) }}
                </div>
            </div>
        </div>

        <div class="charts">
            <div class="mid-content-top charts-grids">
                <div class="middle-content">
                    <h4 class="title">Photos</h4>
                    <!-- start content_slider -->
                    <div id="owl-demo" class="owl-carousel text-center">
                        {% for photo in article.photoArticles %}
                            <div class="item">
                                <img class="lazyOwl img-responsive" data-src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.alt }}">
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <!--//sreen-gallery-cursual---->
            </div>
        </div>
    </div>
{% endblock %}